* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    width: 800px;
    height: 800px;
    margin: auto;
    background-color: #7fffd4;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1 ;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-medium {
    width: calc(100% / 9);
    aspect-ratio: 1 ;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-hard {
    width: calc(100% / 7);
    aspect-ratio: 1 ;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azure {
    background-color: lightskyblue;
}